.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 120px;
  image {
    height: 120px;
  }
}

/*全局标题*/
.global-title {
  background: #fff;
  margin-top: 10px;
  padding-bottom: 20px;

  .title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    display: flex;
    text-indent: 40rpx;
    position: relative;

    i {
      display: block;
      border-left: 3px solid $color1;
      height: 15px;
      position: absolute;
      top: 35rpx;
      left: 10px;
    }
  }
}

.btn-more {
  width: 120px;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #a4a4a4;
  padding: 5px 10px;
  font-size: 18px;
  margin: 0 auto;
}
