/*课程*/
.ad-course {
  background: $bodyBackg;

  /*课程推荐*/
  .ad-course-tuijian {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        width: 46%;
        background: url('http://a-dou.com/mba/image/course1.jpg') no-repeat center center;
        background-size: 100% 100%;
        margin: 10px 0;

        >div {
          background: rgba(255, 255, 255, .9);
          width: 90%;
          margin: 10px auto;
          padding: 10px 0;
          text-align: center;

          i {
            display: block;
            width: 20px;
            border-top: 5px solid #CCA353;
            margin: 0 auto;
          }

          h2 {
            font-size: 15px;
            color: #336666;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
          }

          p {
            font-size: 14px;
            line-height: 22px;
          }

          p:last-child {
            margin-bottom: 10px;
          }

          span {
            font-size: 12px;
            background: #CCA353;
            color: #fff;
            border-radius: 5px;
            padding: 5px 20px;
          }
        }
      }

      li:nth-child(2n+1) {
        margin-right: 10px;
      }
    }
  }

  /*8项增值服务*/
  .ad-course-bxzzfw {
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;

      li {
        width: 42%;
        margin-top: 10px;

        h2 {
          font-size: 15px;
          font-weight: bold;
          color: #336666;
          border-bottom: 1px solid #CCA353;
          padding: 10px 0;
          margin-bottom: 10px;
          text-align: center;
          i{
            margin-right: 10px;
          }
        }

        p {
          font-size: 14px;
          color: #CCA353;
          line-height: 25px;
          text-align: center;
        }
      }

      li:nth-child(2n+1) {
        margin-right: 40px;
      }
    }
  }

  /*独家配套教材*/
  .ad-course-djptjc {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        width: 29%;
        margin-top: 20px;

        image {
          width: 100%;
          height: 160px;
          border: 3px solid #CCA353;
        }

        h2 {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          padding: 10px 0;
          color: #333;
        }
      }

      li:nth-child(3n+2) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
