$color1:#cda353;
$color2:#336468;
$color3:#142539;
$color4:#2f696a;
$bodyBackg:#f3f2ee;
$html-font-size: 16px;
$refer-width: 1366px;
$device-width: 1025px,
1366px;
$font-sizes: (14px, 16px, 18px, 20px);
// 根据rem为各个元素计算大小
@function computer($px) {
  @return $px / $html-font-size * 1rem;
}

@import './common.scss';
@import './swiper.scss';
/*独家*/

@import './exclusive.scss';
/*干货*/

@import './drygoods.scss';
/*预约*/

@import './reservation.scss';
/*院校*/

@import './institution.scss';
/*课程*/

@import './course.scss';

@import './student.scss';
/*学员详情*/

@import './school.scss';
/*学院详情*/
