.ad-reservation {
  background: $bodyBackg;
  padding-bottom: 20px;
  .reservation-tab {
    ul {
      @extend .flex;
      li {
        width: 50%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background: $color3;
        div {
          font-size: 18px;
          span {
            margin-left: 10px;
          }
        }
      }
      li.current {
        color: $color3;
        background: none;
      }
    }
  }
}

@import './reservationCourse.scss';
@import './reservationForm.scss';
