/*顶部banner轮播 公用*/

.swiper {
    height: 400rpx;
    width: 100%;
    a {
      display: block;
      height: 400rpx;
      width: 100%;
    }
    image {
      height: 100%;
      width: 100%;
    }
  }