/*课程*/

.ad-exclusive {
  background: $bodyBackg;
  /*顶部banner轮播*/
  .exclusive-swiper {
    height: 400rpx;
    width: 100%;
    a {
      display: block;
      height: 400rpx;
      width: 100%;
    }
    image {
      height: 100%;
      width: 100%;
    }
  }

  /*超高通过率、协议保过、无理由退费保证*/
  .guarantee {
    background: #fff;
    ul {
      @extend .flex;
      flex-wrap: nowrap;
      border-bottom: 5px solid $color1;
      li {
        width: 33.3%;
        height: 80px;
        text-align: center;
        position: relative;
        p {
          font-size: 23px;
          font-weight: bold;
          color: $color1;
          margin-top: 10px;
        }
        span {
          font-size: 15px;
        }
        i {
          border-left: 1px solid $color1;
          display: block;
          height: 60px;
          position: absolute;
          right: 0px;
          top: 10px;
        }
      }
      li:nth-child(1) {
        background: url("http://www.bqeducation.com/public/static/zp/images/a.png") no-repeat center center;
        background-size: 70px;
      }
      li:nth-child(2) {
        background: url("http://www.bqeducation.com/public/static/zp/images/b.png") no-repeat center center;
        background-size: 58px;
      }
      li:nth-child(3) {
        background: url("http://www.bqeducation.com/public/static/zp/images/c.png") no-repeat center center;
        background-size: 60px;
      }
    }
  }
  /*模块标题*/
  .exclusive-title {
    background: #fff;
    margin-top: 10px;
    padding-bottom: 20px;
    .title {
      padding-top: 10px;
      font-size: 18px;
      font-weight: bold;
      height: 30px;
      line-height: 30px;
      display: flex;
      text-indent: 40rpx;
      position: relative;
      i {
        display: block;
        border-left: 3px solid $color1;
        height: 15px;
        position: absolute;
        top: 35rpx;
        left: 10px;
      }
    }
  }
  /*MBA双证研究生学历为什么如此受欢迎?*/
  .exclusive-mbaszyjs {
    ul {
      @extend .flex;
      flex-wrap: wrap;
      li {
        margin-top: 20px;
        width: 50%;
        text-align: center;
        image {
          width: 74px;
          height: 52px;
        }
        p {
          font-weight: bold;
          font-size: 18px;
          height: 35px;
          line-height: 35px;
        }
        span {
          display: block;
          font-size: 15px;
          color: $color2;
          line-height: 22px;
        }
      }
    }
  }
  /*选择博勤嘉成*/
  .exclusive-xzbqjc {
    ul {
      @extend .flex;
      flex-wrap: wrap;
      li {
        width: 43%;
        height: 125px;
        border: 3px solid $color1;
        margin-top: 10px;
        padding: 5px;
        p {
          font-size: 15px;
          color: $color2;
          font-weight: bold;
        }
        i {
          display: block;
          border-top: 3px solid $color1;
          width: 30px;
          margin: 10px 0;
        }
        span {
          display: block;
          line-height: 22px;
          font-size: 12px;
        }
      }
      li:nth-child(1),
      li:nth-child(3),
      li:nth-child(5),
      li:nth-child(7),
      li:nth-child(9) {
        margin-right: 10px;
      }
    }
  }
}
