$color1:#cda353;
$color2:#336468;
$color3:#142539;
$color4:#2f696a;
$bodyBackg:#f3f2ee;
@import './common.scss';
@import './swiper.scss';
@import './exclusive.scss';
@import './drygoods.scss';
@import './drygoodsMba.scss';